extends layout
block content
   h2 Reviews
   #reviewing
     #leavereview
      h3 Let us know what you think!
      .postlink
      a.button(href='/addreview') Leave a review
    .grid-container-review
      each review in reviews
       .review
        h2.reviewtitle Name: #{review.name}
        p.reviewp Date: #{review.date}
        p.reviewp Review: #{review.content}
        a.button(href="/deletereview/#{review.id}") Delete
        a.button(href="/editreview/#{review.id}") Edit
        

        
        
        